<!DOCTYPE html>

<html>

  <head>
    <title>Request Header Parser Microservice</title>
    <link rel="shortcut icon" href="" type="image/x-icon"/>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <!--Title-->
    <div id="title-container">
      <h1>Request Header Parser Microservice</h1>
      <h2>A freeCodeCamp project from the Back End Development and APIs Certification</h2>
    </div>
    <!--Content-->
    <div id="main-container">
      <h3>Usage</h3>
      <p>
        A request to <b>/api/whoami</b> returns a JSON object containing the IP address, preferred languages and system infos
        for your device:
      </p>
      <a href="api/whoami" class="exemple-link">/api/whoami</a>
      <h3>Example Output</h3>
      <code>{"ipaddress": "::ffff:159.20.14.100", "language": "en-US,en;q=0.5", "software": "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
      <h3>Learn More</h3>
      <p>
        For more information please visit this project's repository on
        <a href="https://github.com/victordrumond/request-header-parser-microservice" target="_blank">GitHub</a>.
      </p>
    </div>
  </body>

</html>